label {
  width: 120px;
  &.form-check-label {
    width: auto;
  }
}
.form-control {
  width: auto;
}
#units,
#days-per-expense {
  width: 80px;
}

.ng-touched.ng-invalid,
.ng-submitted .ng-invalid {
  border-color: var(--bs-red);
}
